In [4]:
import sqlite3

In [5]:
## Connection to an SQLite Database

connection = sqlite3.connect('example.db')
connection

In [6]:
cursor = connection.cursor()

In [7]:
## Create a Table
cursor.execute('''
Create Table If not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [9]:
cursor.execute('''
Select * From employees
''')

In [10]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name, age, department)
    values("Xitij", 21, "Data Scientist")
''')

cursor.execute('''
Insert Into employees(name, age, department)
    values("Bob", 25, "Engineering")
''')

cursor.execute('''
Insert Into employees(name, age, department)
    values("Charlie", 35, "Finance")
''')


## commit the changes
connection.commit()

In [ ]:
## Quering any data from the table

cursor.execute('Select * From employees')
rows=cursor.fetchall()

## Print the quired data
for row in rows:
    print(row)

(1, 'Xitij', 21, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [12]:
## Update the data in the table

cursor.execute('''
UPDATE employees
    SET age = 34
    WHERE name = 'Bob'
''')

connection.commit()

In [13]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Xitij', 21, 'Data Scientist')
(2, 'Bob', 34, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [14]:
## Delete the data from the table
cursor.execute('''
DELETE FROM employees
    WHERE name = 'Bob'
''')

connection.commit()

In [15]:
cursor.execute('SELECT * FROM employees')
rows =cursor.fetchall()
for row in rows:
    print(row)

(1, 'Xitij', 21, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [19]:
## Working with sales Data
## Connect to an SQLite database

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data inot sales table
sales_data = [
    ('2023-01-01',"Product1", 100, 'North'),
    ('2023-01-02',"Product2", 200, 'South'),
    ('2023-01-03',"Product1", 150, 'East'),
    ('2023-01-04',"Product3", 250, 'West'),
    ('2023-01-05',"Product2", 300, 'North'),
]

cursor.executemany('''
INSERT INTO sales(date,product,sales,region)
    values(?,?,?,?)
''',sales_data)

connection.commit()

In [20]:
cursor.execute('SELECT * FROM sales')
rows =cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [ ]:
## Close the connection
connection.close()